<div class = "text-left">
    <a class ="btn btn-social-icon btn-facebook" target="_blank" href="https://web.facebook.com/pauloleitee">
    <i class= "fa fa-facebook"></i>
    <a class ="btn btn-social-icon btn-linkedin" target="_blank" href="https://www.linkedin.com/in/paulo-leite-7b5910109/">
    <i class= "fa fa-linkedin"></i>
    <a class ="btn btn-social-icon btn-github" target="_blank" href="https://github.com/pauloleitte">
    <i class= "fa fa fa-github"></i>
    <a class ="btn btn-social-icon btn-twitter" target="_blank" href="https://twitter.com/goleittep">
    <i class= "fa fa-twitter"></i>
</div>
