html { background: #ecf0f5; }
.main-footer {position: fixed; bottom: 0px; width: 100%; height: 7%; background: #ecf0f5; border-top: 0; }
#toast-container {top: 70px;}
.table-action {width: 140px;}
.main-header .navbar{height: 7%;}
.box-footer{border-top: 0; border-bottom: 0;}
.box-header.with-border{border-top: 0; border-bottom: 0;}
.box-body{border-top: 0; border-bottom: 0;}
.box.box-info {margin-bottom: 0; box-shadow: 0;}
