<div class="col-md-4">
    <div class="form-group">
        <div class = "input-group">
          <div class="input-group-addon">
            <i class= "fa fa-search"></i>
          </div>
          <input id="search_nome" class="form-control" placeholder="Buscar"
             type="text" ng-model=searchText ng-readonly="cgCtrl.tabDelete"/>
        </div>
      </div>
 </div>
<div class="box-body">
    <table class = "table">
      <thead>
        <tr>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="Evento in cgCtrl.Eventos  | filter:{ nome:searchText }">
          <td>{{ Evento.nome }}</td>
          <td class = "table-actions">
            <button class="btn btn-warning" ng-click="cgCtrl.showTabUpdate(Evento)">
              <i class= "fa fa-pencil"></i></button>
            <button class="btn btn-danger" ng-click="cgCtrl.showTabDelete(Evento)">
              <i class= "fa fa-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="box-footer clearfix">
    <paginator url="/#!/Evento" pages="{{ cgCtrl.pages }}"></paginator>
  </div>