<a href class="dropdown-toggle" data-toggle="dropdown">
  <img src="https://scontent.fcgh4-1.fna.fbcdn.net/v/t1.0-9/26231303_1612776742113094_3911967003154299310_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeFdWb77wKaRfKIJp9IvccBsuiQhJJomLPx4zSDHLvDrOZwFCaJ5w3hMEy59q4sAWgZeBzeCKZwC2_nqNJrzKG-Xjf4eTKCWN9DhUTbS_CTdZg&oh=3a26d8efa21e93265e8772718106762c&oe=5B6D0DF3" class="user-image" alt="User Image">
  <span class="hidden-xs">{{:: auth.getUser().name }}</span>
  </a>
  <ul class="dropdown-menu">
    <li class="user-header">
      <img src="https://scontent.fcgh4-1.fna.fbcdn.net/v/t1.0-9/26231303_1612776742113094_3911967003154299310_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeFdWb77wKaRfKIJp9IvccBsuiQhJJomLPx4zSDHLvDrOZwFCaJ5w3hMEy59q4sAWgZeBzeCKZwC2_nqNJrzKG-Xjf4eTKCWN9DhUTbS_CTdZg&oh=3a26d8efa21e93265e8772718106762c&oe=5B6D0DF3" class="img-circle" alt="User Image">
      <p>
        {{:: auth.getUser().name }}
        <small>{{:: auth.getUser().email }}</small>
      </p>
    </li>
    <li class="user-footer">
      <div class="pull-right">
        <a href class="btn btn-default btn-flat" ng-click="auth.logout()">Sair</a>
      </div>
    </li>
  </ul>
  