<a href class="dropdown-toggle" data-toggle="dropdown">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2q95dX-7EbJxkzUAbo2zQ6CpaCaV35rRNNUhboWay-oVway_Vhg" class="user-image" alt="User Image">
  <span class="hidden-xs">{{:: auth.getUser().name }}</span>
  </a>
  <ul class="dropdown-menu">
    <li class="user-header">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2q95dX-7EbJxkzUAbo2zQ6CpaCaV35rRNNUhboWay-oVway_Vhg" class="img-circle" alt="User Image">
      <p>
        {{:: auth.getUser().name }}
        <small>{{:: auth.getUser().email }}</small>
      </p>
    </li>
    <li class="user-footer">
      <div class="pull-right">
        <a href class="btn btn-default btn-flat" ng-click="auth.logout()">Sair</a>
      </div>
    </li>
  </ul>
  