    <div class="box box-info">
        <div class = "box-header with-border">
      <h3 class= "box-title">Dados Cadastrais</h3>
      <div class="box-tool pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title data-original-title="Minimizar">
          <i class="fa fa-minus"></i>
        </button>
      </div>
      </div>

      <div class="col-xs-12">
        <div class="form-group">
          <div class = "input-group">
            <div class="input-group-addon">
              <i class= "fa fa-user"></i>
            </div>
            <input id="nome_departamento" class="form-control" placeholder="Informe o Nome"
               type="text" ng-model=cgCtrl.Departamento.nome ng-readonly="cgCtrl.tabDelete"/>
          </div>
        </div>
      </div>
      
</div>



<div class="box-footer">
    <button class = "btn btn-primary" ng-click="cgCtrl.create()"
    ng-if="cgCtrl.tabCreate">Incluir</button>
    <button class = "btn btn-info"
    ng-if="cgCtrl.tabUpdate" ng-click="cgCtrl.update()">Alterar</button>
    <button class = "btn btn-danger"
    ng-if="cgCtrl.tabDelete" ng-click="cgCtrl.delete()">Excluir</button>
    <button class = "btn btn-dafault" ng-click="cgCtrl.refresh()">Cancelar</button>
  </div>