<div class = "col-xs-12">
     <table class="table">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="dizimo in cgCtrl.Membro.dizimos">
        <td>
          <div class = "col-xs-12"> 
                 <div class = "input-group">
                    <div class="input-group-addon">
                      <i class= "fa  fa-calendar"></i>
                    </div>
                      <input class="form-control" placeholder="Informe a Data de Pagamento" mask="99/99/9999"
                      type="text" ng-model=dizimo.data_pagamento ng-readonly="cgCtrl.tabDelete"/>
                </div>
           </div>
        </td>
        <td>
            <div class = "col-xs-12"> 
                 <div class = "input-group">
                    <div class="input-group-addon">
                      <i class= "fa fa-dollar"></i>
                    </div>
                      <input ng-model="dizimo.valor" class="form-control" placeholder="Informe o valor"
                      ng-readonly="cgCtrl.tabDelete" ng-change="cgCtrl.calculateValues()"/>
                </div>
           </div>     
        </td>
        <td class="table-actions">
          <button class="btn btn-success" ng-click="cgCtrl.addDizimo($index)" ng-disabled="cgCtrl.tabDelete"><i class="fa fa-plus"></i></button>
          <button class="btn btn-warning" ng-click="cgCtrl.cloneDizimo($index,dizimo)"ng-disabled="cgCtrl.tabDelete" ><i class="fa fa-clone"></i></button>
          <button class="btn btn-danger"  ng-click="cgCtrl.deleteDizimo($index)" ng-disabled="cgCtrl.tabDelete"><i class="fa fa-trash-o"></i></button>
        </td>  
      </tr>
    </tbody>
  </table>
</div>